{% load static %}
{% load template_tags %}
<!-- jQuery -->
<script src="{% static 'AdminLTE-2.4.5/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/common/bootstrap-switch.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'AdminLTE-2.4.5/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'metismenu/dist/metisMenu.min.js' %}"></script>

<!-- DataTables JavaScript -->
<script src="{% static 'AdminLTE-2.4.5/bower_components/datatables.net/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.5/bower_components/datatables.net-bs/js/dataTables.bootstrap.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/common/jquery.datetimepicker.js' %}"></script>
<script src="{% static 'js/common/time_range.js' %}"></script>

<script src="{% static 'js/common/pnotify.custom.min.js' %}"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="{% static 'js/common/base.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common/dialog-min.js' %}"></script>
