{% load static %}
<aside class="main-sidebar" style="margin-top:-72px;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a href="#main-sidebar-home-tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-wrench"></i>策略</a></li>
            <li class=""><a href="#main-sidebar-data-tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-home">数据</i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="main-sidebar-home-tab">

            <!-- search form -->
                <form action="javascript:void(0)" method="" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" class="form-control" id="id_search_processor" autocomplete="off">
                        <span class="input-group-btn">
                            <button type="button" onclick="search_processor()" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <div id="aside_proc_tree_control" style="width:100%;height:100%;overflow-x:auto;overflow-y:auto">
                    <ul class="sidebar-menu" data-widget="tree" style="width:100%;">
                        <div class="easyui-panel" style="width:100%;">
                            <ul id="proc_tt" style="width:100%;" class="easyui-tree" data-options="
                            url: '/picker/get_sql_tree_async/',
                            method: 'get',
                            animate: true,
                            formatter:function(node){
                                var s = node.text;
                                if (node.is_project == 0) {
                                    s = '<b><font size=\'2\'>' + node.text + '</font></b>';
                                }

                                if (node.children && node.is_project != 0){
                                    s += '&nbsp;<span style=\'color:blue\'>(' + node.children.length + ')</span>';
                                }
                                return s;
                            },
                            onBeforeLoad: function(node, param) {
                                return proc_tree_before_load(node, param);
                            },
                            onContextMenu: function(e,node){
                                e.preventDefault();
                                $(this).tree('select',node.target);
                                var p_node = $(this).tree('getParent', node.target);
                                while (p_node) {
                                    if (p_node.id < 0) {
                                        if (p_node.id == -2) {
                                            return;
                                        }

                                        break;
                                    }

                                    p_node = $(this).tree('getParent', p_node.target);
                                }

                                if (node.id == -1) {
                                    $('#proc_preset_mm').menu('show',{
                                        left: e.pageX,
                                        top: e.pageY
                                    });
                                } else if( node.id > 0) {
                                    if (node.is_project == 1) {
                                        $('#proc_cluster_mm').menu('show',{
                                            left: e.pageX,
                                            top: e.pageY
                                        });
                                    } else if (node.is_project == 2) {
                                        if (node.is_super) {
                                            $('#public_proc_cluster_mm').menu('show',{
                                                left: e.pageX,
                                                top: e.pageY
                                            });
                                        }
                                    } else {
                                        $('#processor_mm').menu('show',{
                                            left: e.pageX,
                                            top: e.pageY
                                        });
                                    }
                                } else if (node.id == -3) {
                                    if (node.is_super) {
                                        $('#public_parent_proc_cluster_mm').menu('show',{
                                            left: e.pageX,
                                            top: e.pageY
                                        });
                                    }
                                }
                            },
                            onClick: function(node){
                                tree_onclick(node);
                            }
                        "></ul>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="tab-pane active" id="main-sidebar-data-tab">
                <form action="javascript:void(0)" method="" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" class="form-control" id="id_search_table" autocomplete="off">
                        <span class="input-group-btn">
                            <button type="button" onclick="search_table()" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <div id="aside_table_tree_control_table" style="width:100%;height:100%;overflow-x:auto;overflow-y:auto">
                    <ul class="sidebar-menu" data-widget="tree" style="width:100%;">
                        <div class="easyui-panel" style="width:100%;">
                            <ul id="table_tt" style="width:100%;" class="easyui-tree" data-options="
                            url: '/picker/get_table_tree_async/',
                            method: 'get',
                            animate: true,
                            formatter:function(node){
                                var s = node.text;
                                if (node.is_project == 0) {
                                    s = '<b><font size=\'2\'>' + node.text + '</font></b>';
                                }

                                if (node.children && node.is_project != 0){
                                    s += '&nbsp;<span style=\'color:blue\'>(' + node.children.length + ')</span>';
                                }
                                return s;
                            },
                            onClick: function(node){
                                table_tree_onclick(node);
                            }
                        "></ul>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- /.sidebar -->
</aside>
